# Dependencies
node_modules

# Build outputs
dist
build

# Environment files
.env
.env.*

# Logs
logs
*.log
pnpm-debug.log*

# Editor directories and files
.vite

docs
docs/private*
secret*
.env

# old files I want to keep locally
old

# no .db files and private scripts
db/*.db
db/private_*
*.sqlite*
.cdb

*.tsbuildinfo
TODO.md
